<ion-header color="blue" [ngClass]="ocultar">
    <ion-toolbar color="primary">
        <img src="/assets/slides/chef.png" class="avatar animated fadeIn">
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-title color="dark" class="contanier"> <img style="width: 200px; height: 50px;" src="/assets/slides/sushi14.webp" class="avatar animated fadeIn"></ion-title>
    <ion-slides pager="true" class="slide-full">

        <ion-slide *ngFor="let slide of slides ">

            <ion-card>
                <ion-card-header>
                    <ion-card-title style="color:white">{{slide.titulo}}</ion-card-title>
                </ion-card-header>

                <a [href]="slide.url1"> <img [src]="slide.img" class="slide-image"></a>

                <ion-card-content style="color:white">
                    {{slide.desc}}
                </ion-card-content>

            </ion-card>
        </ion-slide>

    </ion-slides>

</ion-content>

<ion-footer color="primary">

</ion-footer>